<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmy.mycanvas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyCanvas">
        <activity android:name=".activity.DrawBitmapActivity"></activity>
        <activity android:name=".activity.DrawPathActivity" />
        <activity android:name=".activity.DrawArcActivity" />
        <activity android:name=".activity.DrawOvalViewActivity" />
        <activity android:name=".activity.DrawCircleActivity" />
        <activity android:name=".activity.DrawRectActivity" />
        <activity android:name=".activity.DrawLineActivity" />
        <activity android:name=".activity.DrawPointActivity" />
        <activity android:name=".activity.MyTextActivity" />
        <activity android:name=".activity.ARGBActivity" />
        <activity android:name=".activity.CoordinateSystemActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>